
        body:hover {
            background-color: rgb(221, 221, 221);
            transition: background-color 0.3sec ease-in;            
        }

        @media screen and (orientation: portrait) {
            body{
                border: 2px solid rgb(33, 207, 216);
            }
        }

        @media only screen and (max-width: 455px){
            body{

                background-color: blue;
            }
            
            .boxes{
                flex-direction: column;
            }
        }
        
        /* @media not|only mediatype and (expressions) {
            CSS-Code;
        } */

        .boxes{
            display: flex;
        }

        .box{
            width: 344px;
            height: 344px;
            background-color: steelblue;
            padding: 3px;
            margin: 3px;
        }

